@namespace FhirBlaze.MedicationModule.Components

<div class="container">
    <br/>
    <div class="container">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Summary</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var medication in this.Medications)
            {
              @if (@medication.Text != null && @medication.Text.Div != null)
              {
                <tr>
                    <td>@medication.Text.Div</td>
                    <td>
                        <button @onclick="(() => MedicationSelected(medication))" class="btn btn-primary">
                            Edit
                        </button>
                    </td>
                </tr>
              }
            }
            </tbody>
        </table>
    </div>
    <br />
    <h3>Found: @(Medications.Count) medications!</h3>
</div>
