@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using FhirBlaze.Graph

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name!
        <a class="text-decoration-none" data-toggle="dropdown" href="#" role="button">
            <img src="@(context.User.GetUserGraphPhoto() ?? "/img/default-profile-photo.jpg")" class="nav-profile-photo rounded-circle align-self-center mr-2" height="48" width="48"/>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <h5 class="dropdown-item-text mb-0">@context.User.Identity.Name</h5>
            <p class="dropdown-item-text text-muted mb-0">@context.User.GetUserGraphEmail()</p>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" @onclick="BeginLogout">Log out</button>
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
