 
  <label class="sr-only" >Display</label>
  <input type="text" class="form-control mb-2 mr-sm-2" placeholder='display' @bind-value='Coding.Display'>  
    
  <label class="sr-only">Value:</label>
  <input type="text" class="form-control mb-2 mr-sm-2"  placeholder='value' @bind-value='Coding.Code'>   