@page "/createquestionnaire"
@using FhirBlaze.SharedComponents
@using Hl7.Fhir.Model
@using Microsoft.AspNetCore.Components.Forms

<EditForm Model=Questionnaire OnValidSubmit=Submit>
    <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <InputText id="title" @bind-Value=Questionnaire.Title class="form-control" />
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <InputTextArea id="description" @bind-Value=Questionnaire.Description.Value class="form-control" />
    </div>

    @foreach(var item in Questionnaire.Item)
    {
        <div class="border border-primary rounded-left  rounded-right p-2">
            <div class="row">
                <div class="col-sm-12">@GetHeader(item)</div>
            </div>
            <div class="row">
                <div class="col-sm-11">
                    <ItemDisplay ItemComponent=item/>
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-primary" @onclick="()=>RemoveItem(item)">
                        <span class="oi oi-trash" />
                    </button>
                </div>
            </div>
        </div>
    }
        

    <div>
        <ItemTypeComponent ItemSelected="AddItem" />
    </div>    

    <br/>
    <button type="submit">Submit</button>
</EditForm>