@page "/createquestionnaire"
@using FhirBlaze.SharedComponents
@using Hl7.Fhir.Model
@using Microsoft.AspNetCore.Components.Forms

<EditForm Model=Questionnaire OnValidSubmit=Submit>
    <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <InputText id="title" @bind-Value=Questionnaire.Title class="form-control" />
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <InputTextArea id="description" @bind-Value=Questionnaire.Description.Value class="form-control" />
    </div>

    @{
        int x = 0;
    }
    @foreach(var item in Questionnaire.Item)
    {
        <div class="border border-primary rounded-left  rounded-right p-2">
            <div class="row">
                <div class="col-sm">@GetHeader(item)</div>
                <div class="col-sm btn-group"><p class="ml-auto">
                    @if (x != Questionnaire.Item.Count-1 && Questionnaire.Item.Count>1)
                    {                        
                        <button type="button" class="btn btn-primary" @onclick="()=>OnDownClick(item)"><span class="oi oi-arrow-thick-bottom" /></button>
                        <span>&nbsp;</span>
                    }                    
                    @if (x!=0 && Questionnaire.Item.Count>1)
                    {                     
                        <button type="button" class="btn btn-primary" @onclick="()=>OnUpClick(item)"><span class="oi oi-arrow-thick-top" /></button>
                        <span>&nbsp;</span>
                    }
                    <button type="button" class="btn btn-primary" @onclick="()=>RemoveItem(item)"><span class="oi oi-trash" /></button>
                    </p>                   
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ItemDisplay ItemComponent=item/>
                </div>                
            </div>
        </div>
        x++;
    }
        

    <div>
        <ItemTypeComponent ItemSelected="AddItem" />
    </div>    

    <br/>
    <button type="submit">Submit</button>
</EditForm>