@page "/createquestionnaire"
@using FhirBlaze.SharedComponents
@using Hl7.Fhir.Model
@using Microsoft.AspNetCore.Components.Forms

<EditForm Model=Questionnaire OnValidSubmit=Submit>
    <label class="col-sm-2 form-label">Title:</label>
    <InputText @bind-Value=Questionnaire.Title />

    @foreach(var item in Questionnaire.Item)
    {
        <div class="border border-primary rounded-left  rounded-right p-2">
            <div class="row">
                <div class="col-sm-10">@GetHeader(item)</div>
                <div class="col-sm-2 d-inline float-sm-end">
                    <button type="button" class="btn btn-primary"><span class="oi oi-arrow-thick-bottom" /></button>
                    <button type="button" class="btn btn-primary" ><span class="oi oi-arrow-thick-top" /></button>
                    <button type="button" class="btn btn-primary" @onclick="()=>RemoveItem(item)"><span class="oi oi-trash" /></button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ItemDisplay ItemComponent=item/>
                </div>                
            </div>
        </div>
    }
        

    <div>
        <ItemTypeComponent ItemSelected="AddItem" />
    </div>    

    <br/>
    <button type="submit">Submit</button>
</EditForm>