@page "/questionnaire/edit/{id}"
@using FhirBlaze.QuestionnaireModule.Components
@using FhirBlaze.SharedComponents

@if (!QLoaded)
{
    <LoadingSpinner />
}else{
    <h4>@Questionnaire.Description</h4>
    <h5>ID: @Questionnaire.Id</h5>
    <QuestionnaireComponent Questionnaire="Questionnaire" SaveQuestionnaire=Submit/>
}
