@page "/questionnaire"
@using FhirBlaze.QuestionnaireModule.Components
@using FhirBlaze.SharedComponents
@inject NavigationManager Navigation



<div class="container">
    <nav class="navbar navbar-light bg-light">
       
        <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @if (Navigation.Uri.Contains("/questionnaire"))
                                    {
                                        <button @onclick="ToggleCreate" class="btn btn-primary">@(ShowCreate?"Cancel Create": "Create Questionnaire")</button>
                                    }
                  
                </li>
        </ul>
        <QuestionnaireSearch SearchClicked=OnSearchClick/>
    </nav>
    <div class="container">
        @if (ShowCreate)
        {
            <QuestionnaireComponent SaveQuestionnaire=SaveQuestionnaire />
        }
        <br/>
        <br/>   
       <div class="container">
         
        <br />
            @if (Loading)
            {
                <LoadingSpinner />
            }
            else
            {
                <div class="row">
            <div class="col-sm-8">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Date</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var questionnaire in Questionnaires)
                        {
                            <tr>
                                <td>@questionnaire.Title</td>
                                <td>@questionnaire.Date</td>                            
                                <td>
                                    <button @onclick="() => OnPreviewClick(questionnaire.Id)" class="btn btn-primary">Preview</button>
                                    
                                    @if (Navigation.Uri.Contains("/questionnaire"))
                                    {                                       
                                        <button @onclick="() => OnEditClick(questionnaire.Id)" class="btn btn-primary">Edit</button>
                                    }
                                    else
                                    {
                                       <button @onclick="() => OnSelectClick.InvokeAsync(questionnaire.Id)" class="btn btn-secondary">Set</button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

         </div>
              <h4>Found: @Questionnaires.Count Questionnaires! </h4>  
            }
        </div>
         <br />
         <h3>Completed Questionnaire Dashboard </h3>
        <iframe width="1140" height="741.25" src="https://msit.powerbi.com/reportEmbed?reportId=90246db3-3a05-4f31-b764-07ab4e593512&autoAuth=true&ctid=72f988bf-86f1-41af-91ab-2d7cd011db47&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly9kZi1tc2l0LXNjdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
    </div>
    </div>
