@page "/patient"
@inject FhirBlaze.SharedComponents.FhirDataConnection fhirData
<div class="my-component">
    This is the patient list

    @fhirData.Authority
    <FhirBlaze.SharedComponents.LoadingSpinner/>
</div>
