<form class="form-horizontal">
    <div class="form-group">
        <label>ID</label>
        <input required @bind="PatientID" />
   </div>
   <div class="form-group">
        <label>Birthday</label>
        <input required @bind="Birthdate" />
    </div>
    <div class="form-group">
        <label>First</label>
        <input required @bind="FirstName" />
   </div>

   <div class="form-group">
        <label>Last</label>
        <input required @bind="LastName" />
    </div>
    @if (Processing)
    {
        <button type="button" class="btn btn-primary-outline" disabled  >Processing</button>
    }
    else{
        <button type="button" class="btn btn-primary"  @onclick="SavePatient"  >Save</button>
    }
</form>

