<Microsoft.AspNetCore.Components.Forms.EditForm Model="Patient" OnValidSubmit="searchPatient" class="form-horizontal">
    <DataAnnotationsValidator/>
    <ValidationSummary />
    <div class="form-group">
        <label>ID</label>
        <Microsoft.AspNetCore.Components.Forms.InputText  @bind-Value="Patient.PatientID" />

        
   </div>
  

   <div class="form-group">
       <label>First</label>
        <Microsoft.AspNetCore.Components.Forms.InputText  @bind-Value="Patient.FirstName" />
        <label>Last</label>
        <Microsoft.AspNetCore.Components.Forms.InputText  @bind-Value="Patient.LastName" />
    </div>
    @if (Processing)
    {
        <button type="button" class="btn btn-primary-outline" disabled  >Processing</button>
    }
    else{
        <button type="submit" class="btn btn-primary">Search</button>
    }
</Microsoft.AspNetCore.Components.Forms.EditForm>
