.my-component {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}

.my-table-header {
    padding: 10px;
    text-align: left;
    border-bottom: 1px dashed;
    border-left: 1px dashed;
    border-right: 1px dashed;
    border-color: dimgray;
    background-color: cornflowerblue;
}

.my-table-row {
    padding: 10px;
    text-align: left;
    border-bottom: 1px dashed;
    border-left: 1px dashed;
    border-right: 1px dashed;
    border-color: dimgray;
}

td {
    border: 1px solid;
}
tr:hover {
    background-color: lightyellow;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

