@page "/statements"
@using FhirBlaze.MedicationModule.Components

@namespace FhirBlaze.MedicationModule.Pages

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Medication Statements</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <button @onclick="AddMedicationStatementClicked" class="btn btn-primary">Add Statement</button>
      <button @onclick="(() => ShowSearch = !ShowSearch)" class="btn btn-primary">
        @(ShowSearch ? "Close Search" : "Open Search")
      </button>
    </li>
  </ul>
</nav>

@if (ShowSearch)
{
  @* <MedicationSearchComponent SearchClicked="SearchMedicationStatement" /> *@
}

<CascadingValue Value="MedicationStatements">
  <MedicationStatementListComponent OnMedicationStatementSelected="MedicationStatementSelected" />
</CascadingValue>
