@page "/medications"
@using FhirBlaze.MedicationModule.Components

@namespace FhirBlaze.MedicationModule.Pages

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Medications</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <button @onclick="AddMedicationClicked" class="btn btn-primary">Add Medication</button>
            <button @onclick="(() => ShowSearch = !ShowSearch)" class="btn btn-primary">
                @(ShowSearch ? "Close Search" : "Open Search")
            </button>
        </li>
    </ul>
</nav>

@if (ShowSearch)
{
    <MedicationSearchComponent SearchClicked="SearchMedication" />
}

<CascadingValue Value="Medications">
    <MedicationListComponent OnMedicationSelected="MedicationSelected" />
</CascadingValue>
