<div class="border border-primary rounded-left rounded-right p-2">
	<div class="row">
		<div class="form-group col-sm">
			<label class="control-label" for="Use">Use</label>
			<select id="Use" @bind="this.Use" class="form-control">
				<option value="Home">Home</option>
				<option value="Work">Work</option>
				<option value="Temp">Temp</option>
				<option value="Old">Old</option>
				<option value="Billing">Billing</option>
			</select>
		</div>
		<div class="form-group col-sm">
			<label class="control-label" for="Type">Type</label>
			<select id="Type" @bind="this.Type" class="form-control">
				<option value="Postal">Postal</option>
				<option value="Physical">Physical</option>
				<option value="Both">Both</option>
			</select>
		</div>
	</div>
	
	<div class="row">
		<div class="form-group col-sm">
			<label class="control-label" for="Text">Text</label>
			<div class="">
				<input id="Text" type="text" @bind-value="Address.Text" placeholder="Text representation of the address" class="form-control"/>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="form-group col-sm">
			<label class="control-label" for="Line">Line</label>
			<div class="">
				<input id="Line" type="text" @bind-value="Line" class="form-control"/>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="form-group col-sm">
			<label class="control-label" for="City">City</label>
			<div class="">
				<input id="City" type="text" @bind-value="Address.City" class="form-control"/>
			</div>
		</div>

		<div class="form-group col-sm">
			<label class="control-label" for="District">District</label>
			<div class="">
				<input id="District" type="text" @bind="Address.District" class="form-control"/>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="form-group col-sm">
			<label class="control-label" for="State">State</label>
			<div class="">
				<input id="State" type="text" @bind="Address.State" class="form-control"/>
			</div>
		</div>
		<div class="form-group col-sm"></div>
	</div>

	<div class="row">
		<div class="form-group col-sm">
			<label class="control-label" for="PostalCode">Postal Code</label>
			<div class="">
				<input id="PostalCode" type="text" @bind="Address.PostalCode" class="form-control"/>
			</div>
		</div>

		<div class="form-group col-sm">
			<label class="control-label" for="Country">Country</label>
			<div class="">
				<input id="Country" type="text" @bind="Address.Country" class="form-control"/>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm">
			<PeriodComponent Period="Address.Period" />
		</div>
	</div>
</div>
