<div class="border border-primary rounded-left rounded-right p-2">
	<div class="row">
		<div class="form-group col-sm">
			<label for="Rank" class="form-label">Rank</label>
			<div>
				<input id="Rank" type="number" @bind="ContactPoint.Rank" class="form-control"/>
			</div>
		</div>
		<div class="form-group col-sm">
			<label for="Use" class="form-label">Use</label>
			<div>
				<select id="Use" @bind="this.Use" class="form-control">
					<option value="Home">Home</option>
					<option value="Work">Work</option>
					<option value="Temp">Email</option>
					<option value="Old">Old</option>
					<option value="Mobile">Mobile</option>
				</select>
			</div>
		</div>
		<div class="form-group col-sm">
			<label for="System" class="form-label">System</label>
			<div>
				<select id="System" @bind="this.System" class="form-control">
					<option value="Phone">Phone</option>
					<option value="Fax">Fax</option>
					<option value="Email">Email</option>
					<option value="Pager">Pager</option>
					<option value="Sms">SMS</option>
					<option value="Other">Other</option>
				</select>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="form-group col-sm">
			<label for="Value" class="form-label">Value</label>
			<div >
				<input id="Value" type="text" @bind="ContactPoint.Value" class="form-control"/>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-12">
			<PeriodComponent Period="ContactPoint.Period" />
		</div>
	</div>
</div>
