@using Hl7.Fhir.Model

<div class="border border-primary rounded-left  rounded-right p-2">
	<div class="row">
		<div class="form-group">
			<label class="control-label col-sm" for="Use">Use</label>
			<div class="col-sm">
				<select id="Use" @bind="HumanName.Use" class="form-control">
					<option value="Usual">Usual</option>
					<option value="Official">Official</option>
					<option value="Temp">Temp</option>
					<option value="Nickname">Nickname</option>
					<option value="Anonymous">Anonymous</option>
					<option value="Old">Old</option>
					<option value="Maiden">Maiden</option>
				</select>
			</div>
		</div>
	</div>

	<div class="row"> 
		<div class="form-group col-sm">
			<label class="control-label" for="Text">Text</label>
			<div>
				<input id="Text" type="text" @bind="HumanName.Text" placeholder="Text representation of the name" class="form-control col-sm-8"/>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="form-group col-sm">
			<label class="control-label" for="Prefix">Prefix</label>
			<div >
				<input id="Prefix" type="text" @bind="Prefix" placeholder="List of name prefixes (comma-separated)"  class="form-control"/>
			</div>
		</div>
	
		<div class="form-group col-sm">
			<label class="control-label" for="Given">Given</label>
			<div>
				<input id="Given" type="text" @bind="Given" placeholder="List of given names (comma-separated)" class="form-control"/>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="form-group col-sm">
			<label class="control-label" for="Family">Family</label>
			<div>
				<input id="Family" type="text" @bind-value="HumanName.Family" placeholder="Family" class="form-control"/>
			</div>
		</div>
	
		<div class="form-group col-sm">
			<label class="control-label" for="Suffix">Suffix</label>
			<div>
				<input id="Suffix" type="text" @bind="Suffix" placeholder="List of name suffixes (comma-separated)" class="form-control"/>
			</div>
		</div>
	</div>	
	
	<div class="row">
		<div class="col-sm-12">
			<PeriodComponent Period="HumanName.Period" />
		</div>
	</div>
</div>