@namespace FhirBlaze.PractitionerModule.Components

<div class="row">
	<div class="form-group col-sm">
		<label class="control-label" for="PeriodStart">Period Start</label>
		<div class="">
			<input id="PeriodStart" type="date" @bind="PeriodStart" class="form-control"/>
		</div>
	</div>
	
	<div class="form-group col-sm">
		<label class="control-label" for="PeriodEnd">Period End</label>
		<div class="">
			<input id="PeriodEnd" type="date" @bind="PeriodEnd" class="form-control"/>
		</div>
	</div>
</div>