@using Hl7.Fhir.Model;
@using Task = System.Threading.Tasks.Task;

<div class="input-group" style="border-radius: 5px; border: 2px solid gray; padding: 20px">
  <div class="container">
    @if (!string.IsNullOrWhiteSpace(Title))
    {
      <div class="row">
        <div class="col">
          <h4>@Title</h4>
        </div>
      </div>
    }

    <div class="row">
      <div class="col">
        <b>Text:</b> @Note?.Text
      </div>
    </div>

    @if (!string.IsNullOrWhiteSpace(Note.Time))
    {
      <div class="row">
        <div class="col">
          <b>Time:</b> @Note?.Time
        </div>
      </div>
    }

    @if (Note?.Author?.Any() ?? false)
    {
      <div class="row">
        <div class="col">
          @{
            var refType = Note.Author.GetType();
            switch (refType.Name)
            {
              case "ResourceReference":
                var AuthorReference = (ResourceReference)Note.Author;
                <ResourceReferenceDisplay ResourceReference="@AuthorReference" Title="Author"></ResourceReferenceDisplay>
                break;
              default:
                <b>Author:</b> @Note.Author.ToString()
                break;
            }
          }
        </div>
      </div>
    }
  </div>
</div>

@code {
  private const string FIRST_PRIORITY_CODING_SYSTEM = "http://www.nlm.nih.gov/research/umls";
  private const string SECOND_PRIORITY_CODING_SYSTEM = "http://snomed.info/sct";

  [Parameter]
  public string? Title { get; set; } = null;

  [Parameter]
  public Annotation Note { get; set; } = default!;
}
