@using FhirBlaze.SharedComponents.Models;
@using Hl7.Fhir.Model;
@using Hl7.Fhir.Serialization;
@using Task = System.Threading.Tasks.Task;
@inject OpenAIService _openAIService;
@inject IFhirService _fhirService;
@inject NotificationService _notificationService;

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Patient Natural Language Search</h5>
        <div class="input-group">
            <button @onclick="(x => RequestFhirQuery())" class="input-group-text btn btn-primary">Request FHIR Query</button>
            <textarea @bind="_nlp" class="form-control"></textarea>
        </div>
        <hr />
        <div class="input-group">
            <button @onclick="(x => ExecuteFhirQuery())" class="btn btn-primary">Execute FHIR Query</button>
            <textarea @bind="_query" class="form-control"></textarea>
        </div>
        @*<button class="card-link" @onclick="AddNotification">Add notification</button>*@
    </div>
</div>

@code {
    private string _nlp = "all females with a birthdate on or before 1983 who have been diagnosed with glaucoma";
    private string _query; // = "Patient?gender=female&birthdate=lt1983&_has:Condition:subject:code=http://snomed.info/sct|258400003";

    [Parameter]
    public EventCallback<List<Patient>> ExecuteFhirOnCLickCallback { get; set; }

    // todo remove
    private async Task AddNotification()
    {
        _notificationService.AddNotification(
        new Notification
            {
                Title = "Example notification",
                Message = "This is would be your toast message body."
            });
    }

    private async Task RequestFhirQuery()
    {
        _query = await _openAIService.GetFhirQueryFromNaturalLanguage(_nlp);
    }

    private async Task ExecuteFhirQuery()
    {
        try
        {
            var patients = await _fhirService.ExecuteFhirQueryAsync<Patient>(_query);

            if (ExecuteFhirOnCLickCallback.HasDelegate)
                await ExecuteFhirOnCLickCallback.InvokeAsync(patients);
        }
        catch (Exception e)
        {
            _notificationService.AddNotification(new Notification
                {
                    Title = "Error trying to execute FHIR query",
                    Message = BuildErrorMessage(e)
                });
        }
    }

    private string BuildErrorMessage(Exception e, string message = "")
    {
        if (string.IsNullOrWhiteSpace(e?.Message))
            return message;

        if (string.IsNullOrWhiteSpace(message))
            message += e?.Message + Environment.NewLine;

        if (string.IsNullOrWhiteSpace(e?.InnerException?.Message))
            return BuildErrorMessage(e.InnerException, message);

        return message;
    }
}