@using Hl7.Fhir.Model;
@using Hl7.Fhir.Serialization;
@inject OpenAIService _openAIService;
@inject IFhirService _fhirService;

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Patient Natural Language Search</h5>
        <div class="input-group">
            <button @onclick="(x => RequestFhirQuery())" class="input-group-text btn btn-primary">Request FHIR Query</button>
            <textarea value="@_nlp" class="form-control"></textarea>
        </div>
        <div class="input-group">
            <button @onclick="(x => ExecuteFhirQuery())" class="btn btn-primary">Execute FHIR Query</button>
            <textarea value="@_query" class="form-control"></textarea>
        </div>
    </div>
</div>

@code {
    private string _nlp = "all females with a birthdate on or before 1983 who have been diagnosed with glaucoma";
    private string _query; // = "Patient?gender=female&birthdate=lt1983&_has:Condition:subject:code=http://snomed.info/sct|258400003";

    [Parameter]
    public EventCallback<List<Patient>> ExecuteFhirOnCLickCallback { get; set; }

    private async System.Threading.Tasks.Task RequestFhirQuery()
    {
        _query = await _openAIService.GetFhirQueryFromNaturalLanguage(_nlp);
    }

    private async System.Threading.Tasks.Task ExecuteFhirQuery()
    {
        try
        {
            var patients = await _fhirService.ExecuteFhirQueryAsync<Patient>(_query);

            if (ExecuteFhirOnCLickCallback.HasDelegate)
                await ExecuteFhirOnCLickCallback.InvokeAsync(patients);
        }
        catch (Exception e)
        {
            // todo: add helpful toast message
            Console.WriteLine("Query failed: ", e.Message);
        }
    }
}