@page "/observations"
@using FhirBlaze.ObservationModule.Components

@namespace FhirBlaze.ObservationModule.Pages

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Observations</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <button @onclick="AddObservationClicked" class="btn btn-primary">Add Observation</button>
      <button @onclick="(() => ShowSearch = !ShowSearch)" class="btn btn-primary">
        @(ShowSearch ? "Close Search" : "Open Search")
      </button>
    </li>
  </ul>
</nav>

@if (ShowSearch)
{
  @* <ObservationSearchComponent SearchClicked="SearchObservation" /> *@
}

<CascadingValue Value="Observations">
  <ObservationListComponent OnObservationSelected="ObservationSelected" />
</CascadingValue>
