<div class="p5">
    <div class="form-group row">
      <label >Display:</label>
      <input type='text' class='form-control' placeholder='display' @bind-value='Coding.Display'>   
    </div>
    <div class="form-group row">
      <label >Value:</label>
      <input type='text' class='form-control' placeholder='value' @bind-value='Coding.Code'>   
    </div> 
</div>