@page "/createquestionnaire"
@using FhirBlaze.SharedComponents
@using Hl7.Fhir.Model

<h3>Create Questionnaire</h3>

<!--div style="float:left;"><button  class="btn btn-primary float-right"--> @* @onclick="()=> AddItem()*@ <!--">+ Item</button></-->


<button type="button" @onclick="@RenderComponent">
    + Add Item
</button>
<button type="button" @onclick="@Submit">Submit</button>

@foreach(var qItem in NewQuestionnaireItems) {
    @DynamicFragment
}
 
@code {
    private RenderFragment DynamicFragment;
    private RenderFragment CreateComponent(Questionnaire.ItemComponent newItem) => __builder =>
    {
        <ItemDisplay @bind-ItemComponent='@newItem' @bind-ItemComponent:event="ItemComponentChanged"></ItemDisplay>
        __builder.OpenElement(1, "div");
        __builder.AddContent(2, newItem.Text);
        __builder.CloseElement();
    };
 
    private void RenderComponent()  
    {
        ItemComponent = new Questionnaire.ItemComponent();
        NewQuestionnaireItems.Add(ItemComponent);
        DynamicFragment = CreateComponent(ItemComponent);
    }

    private void Submit()
    {
        foreach(var item in NewQuestionnaireItems)
        {
            Console.WriteLine("Item Text: ", item.Text);
        }
    }
}