<h3>Item</h3>
<div class="p-3 mt-5" style="background:#eee;">
    <EditForm class="form" Model="@ItemComponenet">
        <div class='form-group'>
            <label for="questionHeader">Question:</label>
        </div>
        <div class='form-group'>
            <label for='question'>Text:</label>
            <input type='text' class='form-control' id='question' placeholder='Write your question...' @bind-value='@ItemComponenet.Text'>
        </div>
        <div class='form-group'>
            <label for='type'>Type</label>
            <select class='form-control' id='type' @bind='@ItemComponenet.Type'>
                <option>Group</option>
                <option>String</option>
                <option>Choice</option>
            </select>
        </div>
        <div class='form-group'>
            <label for='linkid'>LinkId:</label>
            <input type='text' class='form-control' id='link' placeholder='link' @bind-value='@ItemComponenet.LinkId'>
        </div>
    </EditForm>
</div>

@code {

}
