<h3>Item</h3>
<div class="p-3 mt-5" style="background:#eee;">
    <div class="form" Model="@ItemComponent">
        <div class='form-group'>
            <label for="questionHeader">Question:</label>
        </div>
        <div class='form-group'>
            <label for='question'>Text:</label>
            <input type='text' class='form-control' id='question' placeholder='Write your question...' @bind-value='ItemComponent.Text' >
        </div>
        <div class='form-group'>
            <label for='type'>Type</label>
            <select class='form-control' id='type' @onchange='@GetOption'>
               @foreach(var type in Types)
                {
                    <option value=@type.Split(':')[1]>@type.Split(':')[0]</option>
                }
            </select>
            <h5>Selected value is: @selectedString.Split(':')[0]</h5>
        </div>
        <div class='form-group'>
            <label for='linkid'>LinkId:</label>
            <input type='text' class='form-control' id='link' placeholder='link' @bind-value='ItemComponent.LinkId'>
        </div>
    </div>
</div>

@code {
    List<string> Types = new List<string>() { "String:9", "Boolean:3" };
    string selectedString = "String:9";
}
