<h3>Item</h3>
<div class="p-3 mt-5" style="background:#eee;">
    <EditForm class="form" Model="@ItemComponent">
        <div class='form-group'>
            <label for="questionHeader">Question:</label>
        </div>
        <div class='form-group'>
            <label for='question'>Text:</label>
            <input type='text' class='form-control' id='question' placeholder='Write your question...' @bind-value='ItemComponent.Text' >
        </div>
        <div class='form-group'>
            <label for='type'>Type</label>
            <select class='form-control' id='type' @bind='ItemComponent.Type'>
               @foreach(var type in Types)
                {
                    <option value=@type.Split(':')[0]>@type.Split(':')[0]</option>
                }
            </select>
        </div>
        <div class='form-group'>
            <label for='linkid'>LinkId:</label>
            <input type='text' class='form-control' id='link' placeholder='link' @bind-value='ItemComponent.LinkId'>
        </div>
    </EditForm>
</div>

@code {
    //comment
    List<string> Types = new List<string>() { "String:9", "Choice:12", "Boolean:3" };
}
