@using Hl7.Fhir.Model

<h3>Responses (@QuestionnaireResponses.Count)</h3>
    <table class="table">
        <thead>
            <tr>
                <td>Date</td>
                <td>Subject</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in QuestionnaireResponses)
            {
                <tr>
                    <td>@r.Authored</td>
                    <td>@r.Subject.Reference</td>
                </tr>
            }
        </tbody>
    </table>

@code {
    [Parameter]
    public IList<QuestionnaireResponse> QuestionnaireResponses { get; set; }
}
